body {
    background-color: rgb(2, 16, 56);
}

.nav-fostrap {
    background-color: #021038;

    
}

.nav-fostrap li ul.dropdown {
    background-color: #011A62;
    border-color: #011A62;
}

.nav-fostrap li ul.dropdown li:hover {
    background-color: #1062FE;
    transition: 0.3s;
}

#header {
    background-color: #021038;
}

a:link, a:visited {
    color: rgba(227, 239, 252, 0.8);
}

#sidebar fieldset:first-of-type legend {
    background-color: #021038;
    color: rgba(227, 239, 252, 0.8);
    border-color: #1062FE;
}

#main .header-text {
    background-color: #021038;
    color: rgba(227, 239, 252, 0.8);
    border-color: #1062FE;
}

.k-progressbar-horizontal {
    width: 30em;
    height: 2rem;
    border-radius: 5px;
}

.k-progressbar {
    color: rgba(227, 239, 252, 0.8);
    background-color: rgba(1, 26, 98, 0.8) !important;
}

.k-switch-off .k-switch-container {
    color: rgba(227, 239, 252, 0.8);
    background-color: #011A62;
    border-color: #011A62;
}

.k-switch-off .k-switch-container:hover {
    color: #fff;
    background-color: #011A62;
    border-color: #011A62;
}

.k-switch-off .k-switch-handle {
    background-color: #1062FE;
    border-color: #1062FE;
}


.k-badge-info {
    border-color: #1062FE;
    color: rgba(227, 239, 252, 0.8);
    background-color: #1062FE;
}

.k-badge-solid.k-badge-secondary {
    border-color: #1062FE;
    color: #ffffff;
    background-color: #1062FE;
}

#sidebar > .links a:hover {
    background-color: #1062FE;
    border: 1px solid #1062FE;
    color: #fff;
    transition: 0.3s;
}

.k-breadcrumb .k-breadcrumb-link {
    color: rgba(227, 239, 252, 0.8);

}

.k-breadcrumb .k-breadcrumb-link:hover, .k-breadcrumb .k-breadcrumb-link.k-state-hover {
    color: #fff;
    background-color: #1062FE;
}

.k-breadcrumb .k-breadcrumb-root-link:hover, .k-breadcrumb .k-breadcrumb-root-link.k-state-hover {
    background-color: #1062FE;
}

.green-button, .orange-button, .red-button {
    background-color: #1062FE;
    color: rgba(227, 239, 252, 0.8);
    border-color: #1062FE;
    background-image: unset;
}

.green-button:hover, .orange-button:hover, .red-button:hover{
    background-color: #0150e7;
    color: #fff;
    border-color: #0150e7;
    background-image: unset;
}

.k-button {
    border-color: #1062FE;
    color: rgba(227, 239, 252, 0.8);
    background-color: #1062FE;
}

.k-button:hover, .k-button.k-state-hover, .k-button-secondary:hover, .k-button-secondary.k-state-hover {
    border-color: #014cda;
    background-color: #0150e7;
    color: #fff;
}

.k-button-primary, .k-button.k-primary {
    border-color: #1062fe;
    color: rgba(227, 239, 252, 0.8);
    background-color: #1062fe;
}

.k-toolbar {
    border-color: #021038;
}

.k-card, .k-card-header {
    border-color: #011A62;
    color: rgba(227, 239, 252, 0.8);
    background-color: #011A62;
}

.k-flat {
    color: rgba(227, 239, 252, 0.8) !important;
}

.k-flat:hover{
    border-color: #1062FE !important;
    color: #fff !important;
    background-color: #1062FE !important;
    transition: 0.3s !important;
}

.k-tabstrip-items .k-item:hover, .k-tabstrip-items .k-item.k-state-hover {
    border-color: #1062FE;
    color: #fff;
    transition: 0.3s;
}

#reinstallButton {
    margin-bottom: 15px;
}

textarea:hover, textarea:focus {
    background-color: rgba(58, 84, 156, 0.7) !important;
    border: 1px solid #1062FE !important;
    transition: 0.3s;
}

.k-textbox:focus, .k-textbox.k-state-focus, .k-textbox.k-state-focused, .k-textarea:focus, .k-textarea.k-state-focus, .k-textarea.k-state-focused, .k-numerictextbox:focus {
    border-color: #011A62;
    color: rgba(227, 239, 252, 0.8);
    background-color: #011A62;
    box-shadow: none !important;
    transition: 0.3s;
}

.k-textbox:hover, .k-textbox.k-state-hover, .k-textarea:hover, .k-textarea.k-state-hover {
    border-color: #1062FE;
    color: #fff;
    background-color: #021038;
    transition: 0.3s;
}

.k-i-save:before {
    color: rgba(227, 239, 252, 0.8);
}

.k-i-cancel:before {
    color: rgba(227, 239, 252, 0.8);
}

.k-i-upload:before {
    color: rgba(227, 239, 252, 0.8) !important;
}

.k-i-folder-add:before {
    color: rgba(227, 239, 252, 0.8) !important;
}

.k-window-titlebar .k-window-actions {
    padding-top: 13px;
}

.k-window {
    border-color: #011A62;
    color: rgba(227, 239, 252, 0.8);
    background-color: #021038;
}

.k-upload .k-dropzone .k-upload-status, .k-upload .k-dropzone .k-dropzone-hint{
    color: rgba(227, 239, 252, 0.8) !important;
}

.k-file-size {
    color: rgba(227, 239, 252, 0.8) !important;
}

.k-upload .k-file-progress .k-progress {
    background-color: #1062FE;
}

#dbAllowinner, #dbLocationsinner, #dbConfig, #dbManage {
    color: rgba(227, 239, 252, 0.8) !important;
}

.k-breadcrumb-root-link:hover, .k-breadcrumb-root-link.k-state-hover, .k-breadcrumb-link:hover {
    color: #fff;
    text-decoration: none !important;
}

.green-label {
    color: rgb(0, 194, 0);
}

.k-list-container .k-button:hover, .k-list-container .k-button.k-state-hover {
    color: white;
    background-color: #1062FE;
}

.k-grid-pager {
    border-color: #1062FE;
    color: #ffffff;
    background-color: #011a62;
}

.k-pager-nav.k-link, .k-pager-refresh {
    border-color: #1062FE;
    color: #ffffff;
    background-color: #021038;
}

/*scrollbars*/

body::-webkit-scrollbar {
    width: 0.5em;
    scroll-behavior: smooth;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #011A62;
    border-radius: 100px;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color:  #1062FE;
    border-radius: 100px;
  }

/*scrollbars*/

/* inner scrollbars for Alex mods page */

  .k-listview-content::-webkit-scrollbar {
    width: 0.5em;
  }
   
  .k-listview-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #011A62;
    border-radius: 100px;
  }
   
  .k-listview-content::-webkit-scrollbar-thumb {
    background-color:  #1062FE;
    border-radius: 100px;
  }

  .k-card-body::-webkit-scrollbar {
    width: 0.5em;
  }
   
  .k-card-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #021038;
    background-color: #021038;
    border-radius: 100px;
  }
   
  .k-card-body::-webkit-scrollbar-thumb {
    background-color:  #1062FE;
    border-radius: 100px;
  }

  
  .k-list-scroller::-webkit-scrollbar {
    width: 0.5em;
  }
   
  .k-list-scroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #011A62;
    border-radius: 100px;
  }
   
  .k-list-scroller::-webkit-scrollbar-thumb {
    background-color:  #1062FE;
    border-radius: 100px;
  }
  
/* inner scrollbars for Alex mods page */
/* scrollbars for mysql manager */
.k-auto-scrollable::-webkit-scrollbar {
    width: 0.5em;
  }
   
  .k-auto-scrollable::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #011A62;
    border-radius: 100px;
  }
   
  .k-auto-scrollable::-webkit-scrollbar-thumb {
    background-color:  #1062FE;
    border-radius: 100px;
  }
 /* scrollbars for mysql manager */

  .k-textbox {
    border-color: #1062FE;
    color: rgba(227, 239, 252, 0.8);
    background-color: #021038;
}

#curse_search::placeholder {
    color:rgba(227, 239, 252, 0.8);
}

.k-combobox .k-dropdown-wrap {
    border-color: #1062FE;
    color: rgba(227, 239, 252, 0.8);
    background-color: #021038;
}

.k-input::placeholder {
    color:rgba(227, 239, 252, 0.8);
}

.k-list .k-item:hover, .k-list .k-item.k-state-hover, .k-list-optionlabel:hover, .k-list-optionlabel.k-state-hover {
    color: #fff;
    background-color: #1062FE;
}

.k-card-subtitle {
    color: rgba(227, 239, 252, 0.8);
}

.k-treeview .k-in:hover, .k-treeview .k-in.k-state-hover {
    border-color: #1062FE;
    color: #fff;
    background-color: #1062FE;
}

.k-treeview .k-in, .k-treeview .k-in.k-state{
    color: rgba(227, 239, 252, 0.8);
   
}

.k-breadcrumb, .k-filemanager {
    border-color: #1062FE;
}

.k-dialog {
    width: 35%;
}

.k-tabstrip > .k-content {
    margin-right: 0;
}

.k-tabstrip-items {
    border-color: #1062fe;
}

.k-tabstrip > .k-content {
    border-color: #1062fe;
}

.k-listview {
    border-color: #1062fe;
}

.k-tabstrip-items .k-item.k-state-active, .k-tabstrip-items .k-item.k-state-selected {
    border-color: #1062fe;
}

@media only screen and (min-width: 901px) {
.primary-color-sidebar .nav-fostrap::before {
    margin-top: 86px;
    border-bottom: 1px solid #1062fe;
}
}

.k-window-titlebar {
    border-color: #1062fe;
}

.custommod-k-card {
    margin: 0.5em !important;
}

.k-menu-group .k-item:hover, .k-menu-group .k-item.k-state-hover, .k-menu.k-context-menu .k-item:hover, .k-menu.k-context-menu .k-item.k-state-hover {
    color: white;
    background-color: #1062fe;
}

/* fixes for the sub header */

.primary-color-sidebar #sidebar fieldset:first-of-type legend {
    border-left: 0;
    border-top: 0;
    margin: 0 auto;
}

@media only screen and (min-width: 901px) {
#main .header-text {
    margin: 0 auto

    }
}

/* fixes for the sub header */

#footer #info {
    text-align: center;
    vertical-align: middle;
    padding-top: 8px;
    margin: 0 0 0 0;
    border-top: 1px solid #1062fe;
}
.k-listview {
    border: 0;
    background-color: transparent;
}

