.Panel {
    background-color: #0f1114;
    
}

.RadPageView {
    background-color: #0f1114;
}

option, select, textarea, input[type=password], input[type=text] {
    background-color: #1b2024 !important;
    border: solid 1px #1b2024 !important;
}

option:focus, option:hover, select:focus, select:hover, textarea:focus, textarea:hover, input[type=password]:focus, input[type=password]:hover, input[type=text]:focus, input[type=text]:hover {
    background-color: #1b2024 !important;
}

.dropdown-wrapper select, .RadInput_Default input, .textbox-wrapper textarea, .textbox-wrapper input, .textbox-wrapper textarea:hover, .dropdown-wrapper select:hover {
    background-color: #1b2024 !important;
    border: solid 1px #1b2024 !important;
}

/* .RadGrid_TCAdmin .rgNumPart a {
    border: 1px solid rgb(1, 26, 98);
    line-height: 20px;
    color: #fff;
} */

/* .RadGrid_TCAdmin .rgNumPart a.rgCurrentPage, .RadGrid_TCAdmin .rgNumPart a.rgCurrentPage:hover {
    border-color: rgb(2, 16, 56);
    background: rgb(2, 16, 56);
    color: #fff;
} */

/* .RadGrid_TCAdmin .rgNumPart a:hover {
    border-color: rgb(2, 16, 56);
    background: rgb(2, 16, 56);
    color: #fff;
    transition: 0.3s;
} */

.WorkshopActionContainer div:first-child .NotInstalled {
    background-color: #0f1114;
    border-bottom-left-radius: 10px;
}

.WorkshopActionContainer div:nth-child(2n) {
    background-color: #0f1114;
    border-bottom-right-radius: 10px;
}

.WorkshopActionContainer div:first-child .NotInstalled:hover {
    background-color: #1062fe;
    border-bottom-left-radius: 10px;
    color: #fff;
    transition: 0.3s;
}

.WorkshopActionContainer div:nth-child(2n):hover {
    background-color: #1062fe;
    border-bottom-right-radius: 10px;
    color: #fff;
    transition: 0.3s;
}

.WorkshopActionContainer div:first-child .Installed {
    background-color: #0f1114;
    border-bottom-left-radius: 10px;
    color: #fff;
}

.WorkshopActionContainer div:first-child .Installed:hover {
    background-color: #1062fe;
    border-bottom-left-radius: 10px;
    border-color: #1062fe;
    color: #fff;
    transition: 0.3s;
}

.IconTitleLine {
    background: none !important;
    background-position: bottom;
    border-bottom: 1px solid;
}

.Meter .Bar {
    background-color: #1062fe;
    border-color: #1062fe;
}

.Meter {
    background: #0f1114;
    border-color: #0f1114;
}

.RadDock_TCAdmin fieldset .rdMiddle .rdCenter, .RadDock_TCAdmin .rdBottom .rdCenter {
    background-color: #1b2024;
    border: 0.09em solid #1b2024;
}

.RadDock_TCAdmin .rdContent {
    color: rgb(248, 249, 250);
    background-color: #1b2024;
}

/* .RadToolBarDropDown .rtbWrap {
    background-color: rgb(1, 26, 98);
    border-color: rgb(1, 26, 98);
} */

.ToolBarPopupPanel {
    left: 0;
    top: 32px;
    border: 1px solid #0f1114;
    background-color: #0f1114;
}

.HyperLink, .HyperLinkCommand {
    color: #fff;

}

.HyperLink, .HyperLinkCommand:hover {
    color: #fff;

}

.RadTabStripTop_TCAdmin .rtsSelected, .RadTabStripTop_TCAdmin .rtsSelected:hover {
    color: #fff !important;

}

.RadTabStrip .rtsLevel1 .rtsTxt, .RadTabStripVertical .rtsLevel1 .rtsTxt {
    color: #fff;
}

.RadGrid_TCAdmin .rgFilterBox {
    color: #fff;
}

.LabelOn {
    color: #31ff31 !important;
}

.RadComboBox_TCAdmin input[type=text] {
    color: #fff;
}

.RadGrid_TCAdmin .rgEditForm {
    border-bottom: 1px solid #1062fe;
}

@font-face {
    font-family: 'Poppins';
    src: url("https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z11lFc-K.woff2");
}

table, textarea, tr, td, p, a, span, div, select, input, button {
    font-family: 'Poppins', sans-serif;
    }