$border-radius: 0.25rem;
$primary: #1062fe;
$secondary: #1062fe;
$info: #17a2b8;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;
$body-text: #ffffff;
$body-bg: #021038;
$headings-text: #ffffff;
$subtle-text: #ffffff;
$disabled-text: #8f8f8f;
$component-text: #ffffff;
$component-bg: #021038;
$base-text: #ffffff;
$base-bg: #011a62;
$hovered-text: #ffffff;
$hovered-bg: #e9ecef;
$selected-text: #ffffff;
$selected-bg: #279af1;
$button-text: #ffffff;
$button-bg: #1062fe;
$link-text: #007bff;
$link-hover-text: #0056b3;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;

@import "~@progress/kendo-theme-bootstrap/dist/all.scss";